# Import Necessary Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# A Versatile Method
<b><font color="orange" size=5>★</font> New Method:</b> pandas.Series.map()

Before we begin, we are going to introduce a versatile method to transform the data.

We can use Series.map() method.<br>
It takes a function as the input.<br>
It will apply the function to all values in the Series.

Let's create a series for the demonstration.

In [ ]:
data = {'before': list(range(101, 111))}
df = pd.DataFrame(data)
df

### Demo 1
Let's do this operation: Increase all odd values by 1 and all even values by 2.

Firstly, we can write a function for this operation.

In [ ]:
def custom_function(x):
    if x % 2 == 1:
        x += 1
    elif x % 2 == 0:
        x += 2
    return x

Then we apply this function as the input to Series.map().

In [ ]:
df['after'] = df['before'].map(custom_function)
df

It works exactly like we want it to.

If you are a proficient Python user, we can make your code more efficient like this:

In [ ]:
df['after'] = df['before'].map(lambda x: x + 1 if x % 2 == 1 else x + 2)
df

### Demo 2
Let's do this operation: Conver values below 106 to "low" and values equal to or above 106 to "high".

A simple way:

In [ ]:
def custom_function(x):
    if x < 106:
        return 'low'
    elif x >= 106:
        return 'high'

df['after'] = df['before'].map(custom_function)
df

An efficient way:

In [ ]:
df['after'] = df['before'].map(lambda x: 'low' if x < 106 else 'high')
df

# 1.0 String Extraction

In [ ]:
df = pd.read_csv('Groceries.csv')
df

### <font color=darkred><b>Task</b><font>
The first 2 digits in "Member_number" is the area code.<br>
Extract them into a new column called  "Area".

In [ ]:
# Method 1
# Although "Member_number" does not have a numeric meaning
# but we can make use of the numeric property to extract the first 2 digit
# How? Simply divide "Member_number" column by 100 and round down (floor division)

# To use this method, we must ensure all "Member_number"s are 4-digit and there is no leading 0.
# If not, we will have to use Method 2 below

# Make a copy of df
df_copy = df.copy()

df_copy['Area'] = df['Member_number'] // 100
df_copy

In [ ]:
# Method 2
# Convert "Member_number" into string and extract the first 2 digits.

# Make a copy of df
df_copy = df.copy()

df_copy['Member_number'] = df_copy['Member_number'].astype(str)
df_copy['Area'] = df_copy['Member_number'].map(lambda x: x[:2])
df_copy

# 2.0 Smoothing

In [ ]:
df = pd.read_csv('Car Sales.csv')
df

In [ ]:
plt.figure(figsize=(16, 4))
plt.plot(df['Sales_in_thousands'])
plt.show()

### <font color=darkred><b>Task</b><font>
Compute the moving average of "Sales_in_thousands".<br>
Use a rolling size of 5.

<b><font color="orange" size=5>★</font> New Method:</b> pandas.Series.rolling()<br>
The pandas.Series object has a method, rolling(), to group the values in small rolling windows.<br>
It takes an integer input as the rolling size.<br>
rolling() is seldom used alone. An aggregation method should be used after rolling().

In [ ]:
ma_sales = df['Sales_in_thousands'].rolling(5).mean()
ma_sales

When we are using a rolling size of 10, the first 9 entries will not have enough data to compute the moving average.<br>
Hence, there are missing values.

By default, the rolling method uses a backward window.<br>
That means, for each entry, it takes the last 10 values (including itself) to compute the moving average.

We can use a centre window if we like.

In [ ]:
ma_sales_center = df['Sales_in_thousands'].rolling(5, center=True).mean()
ma_sales_center

In [ ]:
plt.figure(figsize=(16, 4))
plt.plot(df['Sales_in_thousands'], color='blue')
plt.plot(ma_sales, linewidth=3, color='orange')
plt.plot(ma_sales_center, linewidth=3, color='green')
plt.show()

When we use a center window, the moving average line will be shifted to the left a little bit.

# 3.0 Discretization

In [ ]:
df = pd.read_csv('discretization.csv')
df

### <font color=darkred><b>Task 1</b><font>
Convert "age" according to the following rules:

    -  0 <= age < 10   =>   "0 to 9"
    - 10 <= age < 20   =>   "10 to 19"
    - 20 <= age < 30   =>   "20 to 29"
    - ...

The rule is a little complex so we may not be able to write it out in one line as a lambda function.<br>
Hence, we are going to write a custom function.

In [ ]:
def convert_age(age):
    if 0 <= age < 10:
        text = '0 to 9'
    elif 10 <= age < 20:
        text = '10 to 19'
    
    '''
    '''
    return text

Hang on, this is not a very elegent way to write the code.<br>
Let's try another one.

In [ ]:
def convert_age(age):
    # first, we get the "floor" of the age
    # this will round down the age to the nearest multiple of 10
    # That will be the lower bound
    floor = age // 10 * 10
    
    # Then the upper bound is simply to add 9 from the floor
    ceil = floor + 9
    
    # Now we format the text
    text = '{} to {}'.format(floor, ceil)
    return text

Now, let's apply it!

In [ ]:
df_copy = df.copy()

df_copy['age-category'] = df_copy['age'].map(convert_age)
df_copy

We can still do it by a lambda function in one line.

### <font color=darkred><b>Task 2</b><font>
Re-perform the last cell with a lambda function.

In [ ]:
# Re-initialize df just in case they are changed
# Do NOT change this cell

df = pd.read_csv('discretization.csv')
df_copy = df.copy()

In [ ]:
lambda_function = lambda _
df_copy['age-category'] = df_copy['age'].map(lambda_function)
df_copy

### <font color=darkred><b>Task 3</b><font>
Convert "hours-per-week" to 'high' if the value is larger than 30, to 'low' otherwise.

In [ ]:
# Re-initialize df just in case they are changed
# Do NOT change this cell

df = pd.read_csv('discretization.csv')
df_copy = df.copy()

In [ ]:
lambda_function = lambda _
df_copy['hours-per-week-category'] = df_copy['hours-per-week'].map(lambda_function)
df_copy

# 4.0 Generalization

In [ ]:
df = pd.read_csv('Generalization.csv')
df

### <font color=darkred><b>Task 1</b><font>
Extract the unit number from "Address".<br>
The unit number should have the format as "#xx-xxxx".

Firstly, we need to identify the symbol to indicate the unit number.<br>
It always starts with "#" sign.<br>
Then, the " " (space) marks the end of the unit number.

Let's create 2 custom functions.

In [ ]:
# Function 1: extract text from "#" sign onwards
function1 = lambda x: x[x.index('#'):]

# Function 2: extract text until " " sign"
function2 = lambda x: x[:x.index(' ')]

We can apply 2 functions consecutively.

In [ ]:
df_copy = df.copy()
df_copy['unit_number'] = df_copy['Address'].map(function1).map(function2)
df_copy

### <font color=darkred><b>Task 2</b><font>
Extract the postal code from "Address"

This is relatively simple. The postal code is always written at the end of the address and the postal code in Singapore has 6 digits.

In [ ]:
lambda_function = lambda _
df_copy['postal_code'] = df_copy['Address'].map(lambda_function)
df_copy

# 5.0 Attribute Construction

In [ ]:
df = pd.read_csv('Superstore.csv')
df

### <font color=darkred><b>Task 1</b><font>
Create a variable, "DateDiff", by getting the difference in days between "Ship Date" and "Order Date".<br>
"Ship Date" should be no earlier than "Order Date".

Firstly, let's check the date type of "Ship Date" (or "Order Date").

In [ ]:
df_copy = df.copy()
df_copy['Ship Date']

The data type is "object". We can't use it for mathematical operation.

We need to convert it to a "datetime" object.<br>
We can use pd.to_datetime() function to do that.<br>
We need to configure the format according to our date format in the dataset.

In [ ]:
df_copy['Ship Date'] = pd.to_datetime(df_copy['Ship Date'], format='%d/%m/%Y')
df_copy['Ship Date']

Then we do the same for "Order Date".

In [ ]:
df_copy['Order Date'] = pd.to_datetime(df_copy['Order Date'], format='%d/%m/%Y')
df_copy['Order Date']

As our data are in the correct format now, we can apply mathematical operation to them now.

In [ ]:
df_copy['Ship Date'] - df_copy['Order Date']

If we do a substraction on "datetime" objects, we will get "timedelta" objects.

We can see that, there is "days" in the value.
If we only want to keep the numeric part, we can call .dt.days attribute after

In [ ]:
(df_copy['Ship Date'] - df_copy['Order Date']).dt.days

Now, we can save it as a new column.

In [ ]:
# Scroll to the right side to see the new column.
df_copy['DateDiff'] = (df_copy['Ship Date'] - df_copy['Order Date']).dt.days
df_copy

### <font color=darkred><b>Task 2</b><font>
Create a column, "Total_Sales", by this formula:

    Total_Sales = (Sales * Quantity) * (1 - Discount)
    
These variables are all in numeric format.<br>
We can apply mathematical operation on them directly.

In [ ]:
# Scroll to the right side to see the new column.
df_copy['Total_Sales'] = _
df_copy

### <font color=darkred><b>Task 3</b><font>
Create a column, "Average_State_Temperature", by mapping the follow values to "State".

    - Delaware: 12.9
    - Louisiana: 19.1
    - South Carolina: 16.9
    - Ohio: 10.4
    - Oregon: 9.1
    - Arizona: 15.7

For the states not listed above, set the value to <b>None</b>.

Let's take a look at "State" first.

In [ ]:
df_copy['State']

In [ ]:
mapping_dictionary = {'Delaware': 12.9,
                      'Lousiana': 19.1,
                      'South Carolina': 16.9,
                      'Ohio': 10.4,
                      'Oregon': 9.1,
                      'Arizona': 15.7}
df_copy['Average_State_Temperature'] = df_copy['State'].map(mapping_dictionary)
df_copy['Average_State_Temperature']

We can't see the change as there is no state in the list in the top and the bottom 5 rows.<br>
We need to apply a filter to see it.

In [ ]:
mask = df_copy['State'].isin(mapping_dictionary.keys())
df_copy[mask][['State', 'Average_State_Temperature']]

# 6.0 Scaling

In [ ]:
df = pd.read_csv('Abalone.csv', header=None)
df.columns = ['Sex', 'Length', 'Diameter', 'Height', 'Whole Weight',
              'Shucked Weight', 'Viscera Weight', 'Shell Weight', 'Rings']
df

In [ ]:
print(df['Rings'].describe())

plt.figure(figsize=(16,4))
df['Rings'].hist(bins=20)
plt.show()

We can see that, "Rings" are distributed around 10, ranging from 3 to 23 approximately.

### <font color=darkred><b>Task 1</b><font>
Scale it down by min-max normalization by
    
    x_new = (x_old - minimum) / (maximum - minimum)
    
Scaled data will fall between 0 to 1, where 0 and 1 corresponds to the minimum and the maximum respectively.

In [ ]:
df_copy = df.copy()
df_copy['Rings_scaled'] = _

In [ ]:
print(df_copy['Rings_scaled'].describe())

plt.figure(figsize=(16,4))
df_copy['Rings_scaled'].hist(bins=20)
plt.show()

We can see that, now "Rings_scaled" are distributed around 0.3, ranging from 0 to 1.

### <font color=darkred><b>Task 2</b><font>
Scale it down by z-score standardization by
    
    x_new = (x_old - mean) / standard_deviation
    
Scaled data will fall around 0.

In [ ]:
df_copy = df.copy()
df_copy['Rings_scaled'] = _

In [ ]:
print(df_copy['Rings_scaled'].describe())

plt.figure(figsize=(16,4))
df_copy['Rings_scaled'].hist(bins=20)
plt.show()

We can see that, now "Rings_scaled" are distributed around 0.