# Naive Bayes - Class Exercise 3

## Introduction

## Metadata (Data Dictionary)

| No.| Variable | Data Type | Description |
|----|----------|-----------|-------------|
| 1  | text | string | The text of the tweet |
| 2  | sentiment | string | Sentiment category |

## Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import metrics

## Import Data

In [2]:
df = pd.read_csv('sentiment.csv')
df

                            text sentiment
0                    bullying me  negative
1                 leave me alone  negative
2                    DANGERously  negative
3          Uh oh, I am sunburned  negative
4                         *sigh*  negative
...                          ...       ...
5959         wanna leave work al  negative
5960                        good  positive
5961                     welcome  positive
5962                       enjoy  positive
5963  But it was worth it  ****.  positive

[5964 rows x 2 columns]

In [3]:
# Change the label to binary variable

df['sentiment'] = df['sentiment'].map({'negative': 0, 'positive': 1})
df.head()

                    text  sentiment
0            bullying me          0
1         leave me alone          0
2            DANGERously          0
3  Uh oh, I am sunburned          0
4                 *sigh*          0

# Vectorization

Vectorization is like One-hot encoding of sentences.

Assuming we have 3 sentences: "I eat chicken rice", "I like cheese burger, "I drink coffee".<br>
They would be vectorized into the format below.

| No.| I | eat | chicken | rice | like | cheese | burger | drink | coffee |
|----|---|---|---|---|---|---|---|---|---|
| 1  | 1 | 1 | 1 | 1 | 0 | 0 | 0 | 0 | 0 |
| 2  | 1 | 0 | 0 | 0 | 1 | 1 | 1 | 0 | 0 |
| 3  | 1 | 0 | 0 | 0 | 0 | 0 | 0 | 1 | 1 |

In [4]:
# We will use the vectorizer from sklearn
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
# Initialize the vectorizer
cv = CountVectorizer()

In [6]:
# Obtain vectorized words
vectorized_words = cv.fit_transform(df['text']).toarray()

In [7]:
# They are in the matrix format now
vectorized_words

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [8]:
# We can check the shape of it
# This matrix has 5964 rows, which is the size of our dataset, and 3018 columns, which is the total number of words

vectorized_words.shape

(5964, 3018)

In [9]:
# This attribute records the index of the word
# The word "ABC" has the index of n, it means it is stored at the n-th column in the matrix
cv.vocabulary_

{'bullying': 394,
 'me': 1688,
 'leave': 1548,
 'alone': 114,
 'dangerously': 650,
 'uh': 2748,
 'oh': 1898,
 'am': 122,
 'sunburned': 2513,
 'sigh': 2332,
 'sorry': 2410,
 'no': 1849,
 'internet': 1415,
 'funny': 1051,
 'soooooo': 2403,
 'sleeeeepy': 2357,
 'romance': 2206,
 'zero': 3015,
 'is': 1426,
 'torn': 2672,
 'ace': 51,
 'of': 1890,
 'hearts': 1256,
 'give': 1084,
 'in': 1392,
 'to': 2648,
 'easily': 820,
 'jealous': 1451,
 'chilliin': 488,
 'better': 281,
 'baddd': 234,
 'sooo': 2400,
 'tired': 2644,
 'thank': 2589,
 'yyyyyyyyyoooooooooouuuuu': 3014,
 'sick': 2328,
 'happy': 1221,
 'star': 2449,
 'wars': 2831,
 'day': 660,
 'everyone': 882,
 'and': 132,
 'enjoy': 854,
 'the': 2599,
 'holiday': 1295,
 'uk': 2749,
 'mothers': 1773,
 'all': 107,
 'you': 2994,
 'mums': 1790,
 'out': 1934,
 'there': 2603,
 'unfortunately': 2763,
 'pretty': 2065,
 'wish': 2907,
 'was': 2832,
 'allowed': 112,
 'go': 1094,
 'hahaa': 1188,
 'your': 2996,
 'awesomee': 211,
 'awesomeeeee': 212,
 'not': 1872,
 'well': 2861,
 'prob': 2073,
 'sad': 2226,
 'hate': 1229,
 'fighting': 965,
 'car': 437,
 'warmed': 2829,
 'sprite': 2439,
 'tastes': 2566,
 'like': 1572,
 'sore': 2407,
 'throat': 2624,
 'enjoyable': 855,
 'bugger': 388,
 'forgot': 1008,
 'still': 2464,
 'have': 1235,
 'washing': 2833,
 'my': 1795,
 'machine': 1655,
 'really': 2142,
 'bad': 233,
 'great': 1149,
 'good': 1103,
 'morning': 1765,
 'its': 1435,
 'best': 277,
 'show': 2321,
 'ever': 877,
 'secret': 2269,
 'namerebecca': 1802,
 'please': 2025,
 'illness': 1378,
 'totally': 2674,
 'loved': 1629,
 'it': 1432,
 'oww': 1947,
 'year': 2974,
 'bored': 344,
 'fun': 1045,
 'headache': 1245,
 'feeling': 951,
 'smooth': 2374,
 'ew': 887,
 'traffic': 2680,
 'having': 1240,
 'bike': 292,
 'luv': 1651,
 'ahaha': 87,
 'sleeping': 2360,
 'at': 190,
 'un': 2751,
 'were': 2863,
 'amazing': 125,
 'tonight': 2657,
 'hope': 1314,
 'thanks': 2591,
 'depressed': 696,
 'worried': 2941,
 'party': 1964,
 'girls': 1083,
 'minus': 1722,
 'vita': 2807,
 'missed': 1727,
 'them': 2601,
 'ship': 2303,
 'stuck': 2481,
 'cannot': 433,
 'wait': 2814,
 'exhausting': 899,
 'sucks': 2499,
 'doing': 759,
 'miss': 1726,
 'daddy': 637,
 'mommy': 1749,
 'nice': 1834,
 'going': 1100,
 'agree': 84,
 'with': 2913,
 'hopeless': 1317,
 'everything': 883,
 'else': 841,
 'dang': 648,
 'this': 2611,
 'crazy': 605,
 're': 2133,
 'aww': 217,
 'loooove': 1616,
 'awesome': 210,
 'lucky': 1644,
 'love': 1627,
 'feel': 949,
 'pain': 1951,
 'sadly': 2231,
 'cant': 434,
 'driving': 793,
 'sunburn': 2512,
 'peeling': 1982,
 'dying': 812,
 'on': 1911,
 'dosen': 766,
 'want': 2825,
 'his': 1285,
 'voice': 2808,
 'sure': 2524,
 'do': 751,
 'congrats': 557,
 'cool': 573,
 'mouth': 1778,
 'for': 1003,
 'poor': 2043,
 'tony': 2659,
 'goodmorning': 1110,
 'poop': 2041,
 'tweeple': 2717,
 'dammit': 640,
 'lol': 1599,
 'bouncing': 356,
 'rush': 2222,
 'makes': 1664,
 'nauseous': 1807,
 'playing': 2021,
 'singstar': 2345,
 'without': 2916,
 'fave': 939,
 'duetter': 804,
 'missing': 1731,
 'mean': 1690,
 'sorr': 2408,
 'hates': 1233,
 'support': 2521,
 'nyappy': 1885,
 'mother': 1772,
 'mom': 1744,
 'glad': 1087,
 'living': 1590,
 'ignorance': 1369,
 'awwww': 219,
 'we': 2847,
 'gonna': 1102,
 'sweet': 2534,
 'dreams': 784,
 'stupid': 2490,
 'shopped': 2315,
 'til': 2637,
 'dropped': 795,
 'come': 537,
 'bac': 229,
 'sunshine': 2517,
 'sun': 2511,
 'shinning': 2302,
 'last': 1531,
 'why': 2890,
 'doesnt': 755,
 'he': 1242,
 'anymore': 151,
 'hair': 1198,
 'smile': 2372,
 'finally': 970,
 'gone': 1101,
 'beach': 256,
 'yeaaaah': 2971,
 'hysterical': 1358,
 'lost': 1624,
 'im': 1384,
 'back': 230,
 'index': 1400,
 'problem': 2076,
 'again': 80,
 'so': 2381,
 'work': 2934,
 'causes': 453,
 'available': 202,
 'area': 168,
 'cramps': 598,
 'fml': 992,
 'grouchy': 1158,
 'inbox': 1394,
 'empty': 848,
 'such': 2495,
 'baby': 228,
 'him': 1283,
 'gorgeous': 1129,
 'rofl': 2202,
 'huh': 1340,
 'terrible': 2581,
 'irrelevant': 1425,
 'screwed': 2266,
 'never': 1827,
 'knew': 1513,
 'dentention': 694,
 'hard': 1223,
 'nail': 1799,
 'broke': 377,
 'haaaaaaaaate': 1181,
 'disappointing': 727,
 'flap': 984,
 'taco': 2550,
 'until': 2773,
 'plebs': 2028,
 'came': 426,
 'welcome': 2859,
 'head': 1243,
 'nooooo': 1861,
 'raining': 2123,
 'world': 2940,
 'just': 1483,
 'cute': 627,
 'beasted': 259,
 'unsalvageable': 2770,
 'seems': 2275,
 'disappeared': 724,
 'life': 1567,
 'haha': 1187,
 'yessir': 2981,
 'that': 2597,
 '100': 3,
 'right': 2190,
 'thanx': 2594,
 'coooooooool': 576,
 'dooooooooown': 764,
 'patience': 1972,
 'virtue': 2805,
 'goodnight': 1112,
 'can': 429,
 'november': 1877,
 'jobros': 1464,
 'concert': 550,
 'reupload': 2179,
 'thing': 2606,
 'too': 2660,
 'late': 1534,
 'hes': 1276,
 'blood': 320,
 'everywhere': 884,
 'very': 2798,
 'congratulatory': 562,
 'times': 2641,
 'meeeaaannn': 1697,
 'invisible': 1418,
 'helps': 1272,
 'boost': 343,
 'recycling': 2147,
 'honest': 1302,
 'enjoying': 857,
 'thanxx': 2596,
 'poorly': 2044,
 'dont': 763,
 'couldn': 584,
 'remember': 2161,
 'heat': 1257,
 'horrible': 1320,
 'savvv': 2247,
 'may': 1683,
 'fourth': 1013,
 'be': 255,
 'taking': 2555,
 'care': 439,
 'yucky': 3006,
 'stuff': 2485,
 'lame': 1526,
 'killing': 1502,
 'waste': 2836,
 'loveeee': 1631,
 'has': 1227,
 'heart': 1253,
 'burn': 400,
 'aw': 204,
 'toy': 2678,
 'story': 2471,
 'coming': 541,
 'next': 1832,
 'days': 661,
 'friends': 1027,
 'ma': 1653,
 'yall': 2963,
 'breaks': 368,
 'expensive': 902,
 'name': 1801,
 'fusterated': 1054,
 'niceee': 1835,
 'ill': 1376,
 'wont': 2927,
 'mind': 1719,
 'sharing': 2293,
 'jello': 1453,
 'talk': 2558,
 'delirious': 691,
 'teddy': 2574,
 'chucking': 502,
 'time': 2640,
 'arms': 175,
 'hurt': 1351,
 'hungry': 1348,
 'cauzinhoooo': 454,
 'already': 117,
 'lllooovvveee': 1592,
 'icarly': 1359,
 'dan': 645,
 'gets': 1075,
 'soon': 2398,
 'start': 2452,
 'what': 2869,
 'beautiful': 261,
 'faillllllllll': 918,
 'contentment': 567,
 'noone': 1859,
 'wants': 2828,
 'irratated': 1424,
 'suck': 2496,
 'yey': 2986,
 'hell': 1265,
 'yeah': 2973,
 'win': 2899,
 'live': 1588,
 'long': 1604,
 'shoesshoesshoes': 2312,
 'yayyayyay': 2967,
 'overslept': 1943,
 'dayyyy': 665,
 'ya': 2959,
 'sleepin': 2359,
 'guys': 1175,
 'wasn': 2834,
 'hurts': 1354,
 'guilty': 1170,
 'take': 2554,
 'ugh': 2740,
 'doin': 758,
 'kill': 1499,
 'being': 274,
 'whisked': 2879,
 'away': 207,
 'cheers': 474,
 'haven': 1237,
 'been': 268,
 'working': 2936,
 'epicfail': 868,
 'freezing': 1022,
 'math': 1680,
 'class': 509,
 'likable': 1571,
 'after': 76,
 'hahahahahahaha': 1195,
 'over': 1938,
 'moon': 1758,
 'ty': 2736,
 'much': 1784,
 'ff': 960,
 'quashed': 2108,
 'luck': 1642,
 'falling': 925,
 'apart': 158,
 'don': 760,
 'rollerblading': 2204,
 'down': 770,
 'shoreline': 2316,
 'spamming': 2420,
 'sight': 2334,
 'made': 1657,
 'afternoon': 78,
 'bonjour': 334,
 'twitterland': 2730,
 'worry': 2943,
 'insane': 1407,
 'sweeet': 2532,
 'dismal': 738,
 'whoo': 2884,
 'hoo': 1309,
 'getting': 1076,
 'under': 2758,
 '200lbs': 9,
 'will': 2897,
 'enough': 860,
 'rotten': 2210,
 'sweetheart': 2538,
 'wow': 2950,
 'headed': 1248,
 'hospital': 1324,
 'family': 928,
 'trumps': 2701,
 'props': 2088,
 'sleep': 2358,
 'treating': 2689,
 'far': 932,
 'yer': 2978,
 'ok': 1901,
 'hunny': 1349,
 'productive': 2079,
 'perfect': 1986,
 'timing': 2642,
 'kills': 1503,
 'ouuuuuuuuuchhhhhhhh': 1937,
 'hurting': 1353,
 'from': 1034,
 'barca': 248,
 'spanking': 2422,
 'oops': 1920,
 'sounds': 2414,
 'would': 2948,
 'muchly': 1785,
 'appreciated': 163,
 'follower': 997,
 'sharon': 2294,
 'yet': 2985,
 'satisfied': 2243,
 'her': 1273,
 'fp': 1014,
 '09': 1,
 'review': 2180,
 'could': 583,
 'afford': 74,
 'hangover': 1209,
 'trying': 2706,
 'make': 1663,
 'home': 1298,
 'attempts': 197,
 'writing': 2952,
 'seem': 2273,
 'failing': 917,
 'things': 2607,
 'die': 714,
 'excited': 892,
 'night': 1842,
 'she': 2296,
 'kay': 1488,
 'way': 2843,
 'yay': 2964,
 'taylor': 2568,
 'swift': 2541,
 'australia': 201,
 'looking': 1610,
 'forward': 1010,
 'coffee': 529,
 'tomorrow': 2654,
 'rite': 2193,
 'decision': 677,
 'loves': 1637,
 'bless': 310,
 'somebody': 2388,
 'save': 2245,
 'polar': 2037,
 'bears': 258,
 'mooorrreeee': 1759,
 'boring': 349,
 'gaahhhh': 1059,
 'bgt': 288,
 'absolutely': 42,
 'excruciating': 896,
 'watch': 2838,
 'girl': 1080,
 'soo': 2397,
 'wa': 2811,
 'god': 1095,
 'found': 1011,
 'someone': 2391,
 'online': 1914,
 'birthday': 297,
 'congratulations': 561,
 'place': 2015,
 'slow': 2365,
 'almost': 113,
 'swords': 2543,
 'sexy': 2288,
 'waz': 2846,
 'likes': 1574,
 'patricia': 1974,
 'dress': 786,
 'chai': 460,
 'latte': 1538,
 'up': 2775,
 '10': 2,
 '000': 0,
 'tweets': 2721,
 'morrrning': 1766,
 'school': 2259,
 'ti': 2631,
 'partied': 1962,
 'twitter': 2727,
 'see': 2271,
 'mornin': 1764,
 'bed': 266,
 'stomach': 2466,
 'ache': 52,
 'annoying': 142,
 'feels': 953,
 'accomplished': 50,
 'got': 1132,
 'lot': 1625,
 'done': 762,
 'today': 2650,
 'omgggg': 1908,
 'hawaii': 1241,
 'wanna': 2824,
 'clean': 514,
 'splendid': 2434,
 'news': 1830,
 'worth': 2946,
 'thx': 2630,
 'accidentaly': 48,
 'slammed': 2355,
 'finger': 974,
 'trunk': 2702,
 'heartburn': 1255,
 'bummed': 395,
 'amaze': 123,
 'thats': 2598,
 'cold': 531,
 'ahahah': 88,
 'proud': 2090,
 'believe': 275,
 'they': 2605,
 'divorcing': 748,
 'scratchy': 2263,
 'ughhhhhhhhhhhh': 2746,
 'doesn': 754,
 'fair': 920,
 'interested': 1412,
 'google': 1115,
 'friendly': 1026,
 'need': 1813,
 'blackberry': 303,
 'fantastic': 931,
 'az': 222,
 'capture': 436,
 'damp': 644,
 'shame': 2291,
 'badly': 235,
 'had': 1184,
 'difficult': 719,
 'think': 2608,
 'studying': 2484,
 'started': 2453,
 'toll': 2653,
 'ducks': 801,
 'seriously': 2284,
 'neeed': 1817,
 'study': 2483,
 'angry': 138,
 'cassie': 448,
 'll': 1591,
 'tame': 2562,
 'three': 2621,
 'most': 1771,
 'hated': 1230,
 'words': 2933,
 'are': 167,
 'monday': 1752,
 'awe': 209,
 'jon': 1471,
 'about': 40,
 'prints': 2071,
 'weather': 2849,
 'soonnnnnn': 2399,
 'rly': 2196,
 'dead': 667,
 'lonely': 1601,
 'profession': 2080,
 'kitty': 1509,
 'goooooddd': 1120,
 'distraaaaacting': 744,
 'fo': 993,
 'sound': 2413,
 'tummy': 2711,
 'fault': 937,
 'didnt': 713,
 'upset': 2779,
 'rock': 2200,
 'damage': 639,
 'hilarious': 1282,
 'fuuuuuuck': 1056,
 'idk': 1366,
 'if': 1368,
 'andy': 134,
 'get': 1074,
 'youuuu': 3002,
 'blogging': 318,
 'new': 1828,
 'passion': 1970,
 'dream': 782,
 'didn': 712,
 'practice': 2058,
 'hooping': 1312,
 'calgary': 419,
 'lasted': 1532,
 'forever': 1005,
 'ashamed': 183,
 'sincerely': 2342,
 'hopes': 1318,
 'nite': 1847,
 'uncontrolable': 2756,
 'always': 121,
 'brightens': 370,
 'imma': 1387,
 'some': 2387,
 'lovely': 1635,
 'ladies': 1523,
 'thnx': 2614,
 'feelin': 950,
 'moms': 1751,
 'deserve': 701,
 'lurveeeeee': 1650,
 'rejected': 2154,
 'babe': 226,
 'and_jay': 133,
 'hi': 1278,
 'job': 1463,
 'yaaayyy': 2961,
 'youuuuu': 3003,
 'supernatural': 2520,
 'as': 182,
 'bit': 298,
 'negative': 1819,
 'unpleasant': 2768,
 'yummy': 3011,
 'actual': 59,
 'heartbreak': 1254,
 'impressive': 1391,
 'congratuations': 559,
 'sweetie': 2539,
 'picture': 2004,
 'isn': 1429,
 'help': 1269,
 'daddio': 636,
 'adding': 65,
 'ugghhh': 2739,
 'useless': 2784,
 'worst': 2945,
 'won': 2923,
 'cry': 619,
 'maybe': 1684,
 'cell': 459,
 'phone': 1995,
 'now': 1878,
 'here': 1274,
 'comes': 538,
 'utter': 2786,
 'shite': 2304,
 'classics': 512,
 'bi': 289,
 'complicated': 547,
 'cats': 451,
 'spoiled': 2437,
 'chillin': 489,
 'man': 1670,
 'mama': 1667,
 'mr': 1780,
 'president': 2064,
 'company': 545,
 'genius': 1071,
 'soooo': 2401,
 'alenka': 104,
 'chicky': 483,
 'cobra': 527,
 'starship': 2451,
 'suggestion': 2506,
 'classic': 511,
 'jelous': 1455,
 'stressful': 2476,
 'woohoo': 2929,
 'chillaxing': 487,
 'hoping': 1319,
 'fail': 915,
 'english': 853,
 'talented': 2557,
 'lady': 1524,
 'showers': 2322,
 'weekend': 2855,
 'but': 407,
 'thanxs': 2595,
 'frustrating': 1039,
 'grounded': 1159,
 'truly': 2700,
 'enlightening': 859,
 'shakalohana': 2289,
 'week': 2854,
 'two': 2735,
 'flat': 986,
 'wavez': 2842,
 'surfin': 2525,
 'slowing': 2367,
 'rocks': 2201,
 'socks': 2385,
 'careless': 441,
 'chip': 492,
 'sister': 2348,
 'whew': 2874,
 'rc': 2132,
 'first': 978,
 'hug': 1335,
 '4th': 20,
 'which': 2875,
 'offiacial': 1894,
 'choice': 495,
 'confused': 554,
 'memorize': 1705,
 'relay': 2159,
 'exciting': 895,
 'interesting': 1413,
 'emails': 844,
 'lifts': 1569,
 'cup': 623,
 'mondays': 1753,
 'th': 2585,
 'fan': 929,
 'wayne': 2844,
 'iã': 1443,
 'â½m': 3017,
 'triste': 2695,
 'screw': 2265,
 'visiting': 2806,
 'nauseas': 1806,
 'mood': 1757,
 'cab': 417,
 '_lord': 29,
 'along': 115,
 'tweeting': 2720,
 'photoshop': 1998,
 'effects': 831,
 'booo': 339,
 'succesful': 2492,
 've': 2792,
 'gurl': 1172,
 'greet': 1154,
 'loney': 1603,
 'saddened': 2228,
 'by': 414,
 'husker': 1356,
 'access': 45,
 'nose': 1870,
 'wishes': 2909,
 'ily': 1382,
 'many': 1674,
 'chocolate': 494,
 'animal': 139,
 'crackers': 596,
 'know': 1514,
 'whooo': 2886,
 'hoooo': 1311,
 'join': 1468,
 'hot': 1325,
 'one': 1912,
 'favorite': 941,
 'combonations': 536,
 'direct': 721,
 'message': 1710,
 'blown': 323,
 'off': 1891,
 'gutted': 1173,
 'joeman': 1466,
 'goodluck': 1109,
 'pisssing': 2013,
 'offf': 1893,
 'beginning': 271,
 'meself': 1708,
 'mami': 1669,
 'em': 842,
 'looks': 1611,
 'miserable': 1724,
 'find': 972,
 'hoodie': 1310,
 'calls': 424,
 'tough': 2676,
 'handsome': 1205,
 'shot': 2317,
 'yesterday': 2984,
 'editing': 829,
 'pics': 2003,
 'gosh': 1130,
 'rude': 2215,
 'bestie': 279,
 'coooolest': 575,
 'yukky': 3007,
 'rainy': 2125,
 'friday': 1024,
 'hotness': 1326,
 'personified': 1990,
 'relaxing': 2158,
 'sitting': 2350,
 'around': 176,
 'loving': 1639,
 'tv': 2715,
 'teeth': 2576,
 'spirit': 2433,
 'pleasure': 2027,
 'idea': 1363,
 'let': 1559,
 'goooooodmorning': 1123,
 'loveeeee': 1632,
 'youu': 3001,
 'ready': 2138,
 'plain': 2017,
 'impressed': 1390,
 'where': 2873,
 'those': 2616,
 'wonderful': 2924,
 'toys': 2679,
 'lives': 1589,
 'an': 131,
 'daaay': 635,
 'wireless': 2906,
 'scary': 2257,
 'understand': 2759,
 'blogtv': 319,
 'smells': 2369,
 'delicious': 690,
 'epic': 867,
 'fountain': 1012,
 'clogged': 520,
 'through': 2625,
 'iphone': 1420,
 'august': 200,
 'probably': 2075,
 'true': 2699,
 'misses': 1728,
 'old': 1903,
 'hey': 1277,
 'kinda': 1505,
 'yu': 3004,
 'blind': 314,
 'faith': 921,
 'how': 1332,
 'inconsiderate': 1395,
 'degree': 685,
 'bs': 384,
 'nothing': 1874,
 'paranthas': 1959,
 'breakfast': 367,
 'meant': 1693,
 'christian': 500,
 'artists': 181,
 'vote': 2810,
 'sympathy': 2545,
 'fucken': 1040,
 'joan': 1462,
 'rivers': 2195,
 'says': 2250,
 'trouble': 2696,
 'updating': 2776,
 'heheh': 1262,
 'qualifying': 2106,
 'tho': 2615,
 'face': 911,
 'tragic': 2681,
 'breathe': 369,
 'boo': 335,
 'jeeeez': 1452,
 'shoot': 2314,
 'works': 2938,
 'charm': 466,
 'endometriosis': 851,
 'needs': 1815,
 'wiff': 2895,
 'hahaha': 1190,
 'pleasantly': 2024,
 'teratoma': 2579,
 'cavity': 455,
 'experiencing': 903,
 'male': 1666,
 'pattern': 1976,
 'baldness': 242,
 'lucy': 1645,
 'hating': 1234,
 'gweg': 1176,
 'weird': 2857,
 'watching': 2839,
 'because': 263,
 'said': 2235,
 'twitterverse': 2733,
 'keeping': 1490,
 'entertained': 863,
 'dummyhead': 807,
 '_it_good': 26,
 'ouch': 1930,
 'earphones': 817,
 'shocked': 2310,
 'incredibly': 1398,
 'awww': 218,
 'roughnight': 2212,
 'wh': 2866,
 'tried': 2693,
 'calling': 423,
 'answer': 145,
 'cheer': 471,
 'brain': 363,
 'went': 2862,
 'blank': 305,
 'making': 1665,
 'yum': 3008,
 'look': 1608,
 'exhausted': 898,
 'healthy': 1251,
 'sorrry': 2409,
 'pokes': 2036,
 'runs': 2221,
 'itunes': 1438,
 'music': 1792,
 'library': 1563,
 'even': 874,
 'bipolar': 295,
 'annoyed': 141,
 '3am': 17,
 'crappy': 600,
 'britains': 372,
 'talent': 2556,
 'every': 880,
 'thankyooooou': 2592,
 'doggy': 757,
 'hammy': 1202,
 'turtle': 2714,
 'fishes': 980,
 'song': 2395,
 'food': 1001,
 'gud': 1166,
 'wishing': 2911,
 'everybody': 881,
 'de': 666,
 'wereld': 2864,
 'more': 1762,
 'ppl': 2057,
 'whoops': 2889,
 'graandma': 1136,
 'houseee': 1331,
 'havee': 1236,
 'http': 1333,
 'plurk': 2031,
 'com': 534,
 'wxnwa': 2955,
 'sunday': 2515,
 'wrong': 2953,
 'yes': 2979,
 'test': 2583,
 'discovery': 732,
 'py3': 2104,
 'died': 715,
 'honour': 1308,
 'crashed': 602,
 ...}

In [10]:
# If we sum the matrix by columns, it will be the count of each word
vectorized_words_sum = vectorized_words.sum(axis=0)

In [11]:
# We can create a DataFrame to record the index and the count for each word
word_count_df = []

# Loop over the vacabulary attribute
for word in cv.vocabulary_.keys():
    index = cv.vocabulary_[word]
    word_count_df.append([index, word, vectorized_words_sum[index]])

# Convert it to a DataFrame
word_count_df = pd.DataFrame(word_count_df, columns=['index', 'word', 'count']).sort_values(['index']).reset_index(drop=True)

In [12]:
# Take a look at it
word_count_df

      index                      word  count
0         0                       000      1
1         1                        09      2
2         2                        10      1
3         3                       100      2
4         4                   13pdrmj      1
...     ...                       ...    ...
3013   3013                     yuuum      1
3014   3014  yyyyyyyyyoooooooooouuuuu      1
3015   3015                      zero      2
3016   3016                   zuccini      1
3017   3017                       â½m      3

[3018 rows x 3 columns]

In [13]:
# We can convert our vectorized matrix to a DataFrame, too, for a better readability
vectorized_df = pd.DataFrame(vectorized_words, columns=word_count_df['word'].to_list())
vectorized_df

,000,09,10,100,13pdrmj,17,1st,2008,2009,200lbs,...,yum,yummm,yummmmy,yummy,yup,yuuum,yyyyyyyyyoooooooooouuuuu,zero,zuccini,â½m
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5959,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5961,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5962,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5963,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# A lot of words only appeared once
# Hence, we can't rely on them to make predictions
# We need to words with a minimum set frequency
# Let's say, 10

frequent_word_df = word_count_df[word_count_df['count'] > 10]
frequent_word_df

      index     word  count
40       40    about     14
80       80    again     19
107     107      all     82
117     117  already     11
121     121   always     12
...     ...      ...    ...
2979   2979      yes     12
2994   2994      you    306
2996   2996     your     47
3008   3008      yum     12
3011   3011    yummy     13

[243 rows x 3 columns]

In [15]:
# Now, we extract those columns of frequent words
x = vectorized_df[frequent_word_df['word']]
x

,about,again,all,already,always,am,amazing,an,and,are,...,work,working,wow,wrong,yay,yes,you,your,yum,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5959,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5961,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5962,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5963,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Extract the label
y = df['sentiment']

In [17]:
# Import MultinomialNB from sklearn
# This model is good to deal with word count for text classification

from sklearn.naive_bayes import MultinomialNB

In [18]:
model = MultinomialNB()
model.fit(x, y)
yhat = model.predict(x)

In [19]:
from sklearn import metrics

In [20]:
metrics.confusion_matrix(y, yhat)

array([[1998,  847],
       [ 264, 2855]], dtype=int64)

In [21]:
metrics.f1_score(y, yhat)

0.8371206567951914